<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>category Page</title>
	</head>
	<style>
		table,
		th,
		tr,
		td {
			border: 1px solid red;
			border-collapse: collapse;
		}
		.error {
			color: red;
		}
	</style>
	<body>

            <div style="width: 500px; margin:30px auto; background-color: cyan; padding: 20px">
              <form id="categoryFrm" action="category.php" method="POST">
              <h4><center>ADD CATEGORY</center></h4>
               <input type="text" class="form-control" name="category_name" style="width:100%">
                 <br>
               <input type="submit" class="btn btn-success" name="submit" value="submit">
            </form>
           </div>
            <div class="row justify-content-end">
               <div class="col-md-10">
                    <div class="container mt-4">
                         <div style="width:1000px;margin: 50px auto; background-color: cyan; padding: 50px">
                          <h2><center>View category management</center></h2>
                          <table id="mytBL" width="100%" border="1" style="border-collapse:collapse;">
                            <thead>
                              <tr>
                                    <th>id</th>
                                    <th>category</th>
                                    <th>Sub Category</th>
                                    <th colspan="3">Action</th>
                              </tr>
                             </thead>
                             <tbody>
                              {% for category in showCategory %}

                                     <tr id="delete-row-{{category.id}}">
                                     <td>{{ category.id }}</td>
                                     <td>{{ category.category_name }}</td>
                                      <td><a href="viewSubCategory.php?id={{ category.id}}">View SubCategory</a></td>
                                        <td align="center" >
                                          <a class="btn btn-primary mb-3" href="createSubCategory.php?id={{ category.id }}">Add Sub Drawing</a>
                                        </td>
                                         <td align="center">
                                           <a class="btn btn-success" href="editCategory.php?id={{ category.id }}">Edit</a>
                                         </td>
                                         <td align="center">
                                           <a id="delete-btn-{{ category.id }}" class="btn btn-success" onclick="check_delete({{ category.id }})" style="background-color: red;" href="javascript:;">Delete</a>
                                     </td>
                                        </tr>
                                 {% endfor %}
                            </tbody>
\                       </table>
                    </div>
               </div>
            </div>
    </body>
</html>

 <script src="../js/category.js"></script>
 <script>function check_delete(id) {
    $.ajax({
      url: "delete.php",
      type: "GET",
      data: {
        id: id,
      },
      success: function(response) {
        if (response == 1) {
          alert("Delete category successfully");
          $("#delete-row-" + id).remove();
        } else {
          alert("category cannot be deleted");
        }
      }
    });
  } 
  </script>
